@import '../../style/template';
@import '../../style/vars';



.card{
    display: flex;
    justify-content: center;
    margin: 5%;

    &__container{
        display: flex;
        justify-content: space-evenly;
        @extend %container
    }

    &__btn{
        display: flex;
        align-items: center;
    }

    &__btn-text{
        padding: 35%;
        border-radius: 20px;
        border: 1px solid grey;
        cursor: pointer;
    }

    &__btn-text:hover{
        background-color: rgb(241, 229, 205);
    }
}

