@import '../../style/template';
@import '../../style/vars';

.slistwords{
    margin-top: 4%;


    &__table{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__tr{
        display: flex;
    }


    &__tr-thtext{
        padding-bottom: 2%;
        width: 100%;
        cursor: default;
        @extend %title-text;
    }
}