@import "../../style/template";
@import "../../style/vars";

.mainhome {
    margin: 2%;
    height: 80vh;
    display: flex;
    justify-content: center;


  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%
  }

  &__text-p{
    @extend %text;
  }

  &__img{
    width: 50%;
    display: flex;
    justify-content: center;
  }

  &__img-home {
    width: 80%;
    border-radius: 20px;
  }
}
