@import '../../style/template';
@import '../../style/vars';

.mainTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;

    &__container{
        max-width: 1024px;
        width: 100%;
    }
}